body,div,h1,h2,h3,h4,h5,h6{
    font-family: Open Sans;
    font-style: normal;
}
.employeeList{
    width: 133px;
    height: 181px;
    top: 81px;
    float: left;
    margin-left: 15px;
}
.profilePic 
{
    width: 66px;
    height: 75px;
    margin: 0 auto;
}
.profileButton{
    position: absolute;
    width: 87px;
    height: 26px;
    background: #EF667A;
    border-radius: 20px;
    font-size: 12px;
}
.addEmployee {    
    width: 165px;
    height: 44px;
    background: rgba(255, 255, 255, 0.98);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: left;
}
.form_outer {
    position: absolute;
    width: 800px;
    height: 600px;
    left: 181px;
    top: 64px;
    background: #FFFFFF;
    border-radius: 30px;    
}
.form{
    width :400px;
    height: 400px;

}
.form_outer h2 {
    width: 289.5px;
    height: 49.7px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #656565;
}
